* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* ------------ NAV BAR ------------ */

.Nav_bar {
    background-color: aqua;
    padding: 15px;
}

.MedKare {
    color: black;
    background-color: aqua;
    display: inline-block;
}

.Home {
    font-size: 20px;
    cursor: pointer;
    margin-left: 1275px;
    display: inline-block;
    color: black;
    background-color: aqua;
}

/* ------------ BACKGROUND SECTION ------------ */

.Bg_box {
    width: 100%;
    height: 100vh;

    background-image: url("Pics/Account_Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------ MAIN LOGIN/SIGN UP BOX ------------ */

.Div_01 {
    width: 420px;
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 0px;
    text-align: center;
    border: solid 2px black;
    margin-bottom: 240px;
    margin-left: 120px;
}

.Div_h {
    font-size: 28px;
    margin-bottom: 25px;
    background-color: wheat;
}

/* ------------ INPUTS ------------ */

.F1, .F2 {
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border-radius: 6px;
    font-size: 16px;
}

/* ------------ BUTTONS ------------ */

.B1, .B2 {
    width: 60%;
    padding: 12px;
    margin: 15px auto;
    font-size: 18px;
    border-radius: 6px;
    border: 2px solid blue;
    background-color: wheat;
    cursor: pointer;
    transition: 0.3s ease;
}

.B1:hover, .B2:hover {
    background-color: blue;
    color: wheat;
}

.Final_div{
    background-color: black;
    color: whitesmoke;
    border: none;
}

.Footer{
    background-color: black;
    color: whitesmoke;
    border: none;
}

.F1L{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    width: 890px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Divider{
    display: inline-block;
    height: 220px;
    width: 4px;
    background-color: whitesmoke;
    margin-top: 8px;
    padding-bottom: 8px;
}

.F2L{
    display: inline-block;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    margin-left: 416px;
    padding-top: 8px;
    padding-bottom: 8px;
}
