*{
    margin:0px;
    background-color: teal;
}

.Nav_bar{
    text-align: left;
    background-color: aqua;
}

.H_one{
    display: inline-block;
    color: black;
    background-color: aqua;
    padding: 20px;
    padding-right: 25%;
}

.Drop_downs{
    display: inline-block;
    color: black;
    background-color: aqua;
    border: none;
    border-color: aqua;
    padding: 20px;
    cursor: pointer;
}

.Account_div{
    display: inline-block;
    background-color: aqua;
    color: black;
    padding: 20px;
    border: none;
    padding-left: 35%;
}

.Account{
     display: inline-block;
    background-color: aqua;
    color: black;
    border: none;
}

.Para_01{
    display: inline-block;
    color: black;
    width: 720px;
    text-align: left;
}

.Main_01{
    border: solid;
    border-color: aqua;
    border-width: 5px;
    display: inline-block;
}

.Main_01:hover{
    border: solid;
    border-color: blue;
    border-width: 7px;
    display: inline-block;
}

.Main_02{
    border: solid;
    border-color: aqua;
    border-width: 5px;
    display: inline-block;
}

.Main_02:hover{
    border: solid;
    border-color: white;
    border-width: 7px;
    display: inline-block;
}

.Para_02{
    display: inline-block;
    color: black;
    width: 720px;
    text-align: center;
}

.Div_01{
    background-color: whitesmoke;
    display: block;
    border: none;
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Div_01_h2{
    background-color: whitesmoke;
    display: block;
    border: none;
    width: 100%;
    height: 45px;
    text-align: center;
}

.Sub_01_p{
    display: inline-block;
    padding-bottom: 27px;
    padding-left: 5%;
    text-align: center;
}

.Sub_01{
    display: inline-block;
    border-radius: 100%;
    border: solid;
    border-color: aqua;
    border-width: 5px;
    margin-left: 175px;
}

.Sub_01:hover{
    display: inline-block;
    border-radius: 100%;
    border: solid;
    border-color: goldenrod;
    border-width: 5px;
    margin-left: 45px;
}

.Sub_02_p{
    display: inline-block;
    padding-bottom: 27px;
    padding-left: 5%;
    text-align: center;
}

.Sub_02{
    display: inline-block;
    border-radius: 0px;
    border: solid;
    border-color: aqua;
    border-width: 5px;
    margin-left: 270px;
}

.Sub_02:hover{
    display: inline-block;
    border-radius: 0px;
    border: solid;
    border-color: goldenrod;
    border-width: 5px;
    margin-left: 90px;
    margin-left: 170px;
}

.Sub_03_p{
    display: inline-block;
    padding-bottom: 27px;
    padding-left: 5%;
    text-align: center;
}

.Sub_03{
    display: inline-block;
    border-radius: 0%;
    border: solid;
    border-color: aqua;
    border-width: 5px;
    margin-left: 330px;
}

.Sub_03:hover{
    display: inline-block;
    border-radius: 0%;
    border: solid;
    border-color: goldenrod;
    border-width: 5px;
    margin-left: 220px;
}

.Sub_04_p{
    display: inline-block;
    padding-bottom: 27px;
    padding-left: 5%;
    text-align: center;
}

.Sub_04{
    display: inline-block;
    border-radius: 0%;
    border: solid;
    border-color: aqua;
    border-width: 5px;
    margin-left: 430px;
}

.Sub_04:hover{
    display: inline-block;
    border-radius: 0%;
    border: solid;
    border-color: goldenrod;
    border-width: 5px;
    margin-left: 325px;
}

.Final_div{
    background-color: black;
    color: whitesmoke;
    border: none;
}

.Footer{
    background-color: black;
    color: whitesmoke;
    border: none;
}

.F1{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    width: 890px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Divider{
    display: inline-block;
    height: 220px;
    width: 4px;
    background-color: whitesmoke;
    margin-top: 8px;
    padding-bottom: 8px;
}

.F2{
    display: inline-block;
    color: whitesmoke;
    background-color: black;
    text-align: center;
    margin-left: 416px;
    padding-top: 8px;
    padding-bottom: 8px;
}
